.footer {
	text-align: center;

	.advert {
		float:right;

		h1, h2 {
			color: #999;
			font-size: 0.7em;
		}

		h1 {
			font-weight: 100;
			display: inline-block;
		}

		h2 {
			font-weight: 600;
			display: inline-block;
		}		
	}
}