<div id="sidebar">
	<div class="logo">
        <a href="/">Emanuel Tovar</a>
    </div>
	<div class="section-nav">
		<a class="" href="/">Work</a>
	</div>
	<div class="proyects">
		<a class="ritos-estructurales" href="/ritos-estructurales">Ritos Estructurales</a>
		<a class="la-huida-del-tiempo" href="la-huida-del-tiempo">La huída del tiempo</a>
		<a class="campos-de-honor" href="campos-de-honor">Campos de honor</a>
		<a class="monumento-a-la-inmaterialidad" href="monumento-a-la-inmaterialidad">Monumento a la inmaterialidad</a>
		<a class="parasito-cosmico" href="parasito-cosmico">Parásto cósmico</a>
		<a class="sinfonia-triste" href="sinfonia-triste">Sinfonía triste</a>
		<a class="la-conspiracion-de-las-bestias" href="la-conspiracion-de-las-bestias">La conspiración de las bestias</a>
		<a class="miercoles-de-ceniza" href="miercoles-de-ceniza">Miércoles de ceniza</a>
		<a class="el-trabajo-te-hara-libre" href="el-trabajo-te-hara-libre">El trabajo te hará libre</a>
		<a class="gloria-desierta" href="gloria-desierta">Gloria desierta</a>
		<a class="white-dumbo-flying-over-infonavit" href="white-dumbo-flying-over-infonavit">White Dumbo Flying Over Infonavit</a>
		<a class="other-work" href="other-work">Other work</a>
	</div>
	<div class="section-nav">
		<a class="bombiux-tix-tix" href="/bombiux-tix-tix">Texts</a>
		<a class="biography" href="/biography">Biography</a>
		<a class="statement" href="/statement">Statement</a>
		<a class="contact" href="/contact">Contact</a>
	</div>
</div>