<div id="sidebar">
	<div class="logo">
        <a href="/">Emanuel Tovar</a>
    </div>
	<div class="section-nav">
		<a class="" href="/ritos-estructurales">Work</a>
		<a class="text" href="/">Texts</a>
	</div>
	<div class="proyects">
		<a class="bombiux-tix-tix" href="/bombiux-tix-tix">Bombiux-Tix-Tix</a>
		<a class="super-punk-lorena-pena" href="/super-punk-lorena-pena">Súper punk</a>
		<a class="white-dumbo-flying-over-infonavit-ruben-mendez" href="/white-dumbo-flying-over-infonavit-ruben-mendez">White dumbo flying over infonavit</a>
		<a class="el-trabajo-te-hara-libre-joaquin-segura" href="/el-trabajo-te-hara-libre-joaquin-segura">El trabajo te hará libre</a>
	</div>
	<div class="section-nav">
		<a class="biography" href="/biography">Biography</a>
		<a class="statement" href="/statement">Statement</a>
		<a class="contact" href="/contact">Contact</a>
	</div>
</div>