<%= partial "menu-proyects" %>
<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/03_camposdehonor/1camposdehonor.jpg" />
		<div class="caption"><h6><em><b>Campos de honor, </em></b>2013-2016, Antimony, marble, plasticine, bronze, 30 x 10 x 10 cm each.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/2camposdehonor.jpg" />
		<div class="caption"><h6><em><b>Campos de honor, </em></b>2013-2016, Antimony, marble, plasticine, bronze, 30 x 10 x 10 cm each.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/3camposdehonor.jpg" />
		<div class="caption"><h6><em><b>Campos de honor, </em></b>2013-2016, Antimony, marble, plasticine, bronze, 30 x 10 x 10 cm each.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/4camposdehonor.jpg" />
		<div class="caption"><h6><em><b>Campos de honor, </em></b>2013-2016, Antimony, marble, plasticine, bronze, 30 x 10 x 10 cm each.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/5camposdehonor.jpg" />
		<div class="caption"><h6><em><b>Campos de honor, </em></b>2013-2016, Antimony, marble, plasticine, bronze, 30 x 10 x 10 cm each.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/6camposdehonor.jpg" />
		<div class="caption"><h6><em><b>Campos de honor, </em></b>2013-2016, Antimony, marble, plasticine, bronze, 30 x 10 x 10 cm each.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/7camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/8camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/9camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/10camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/11camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/12camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/13camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/15camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/16camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/17camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
	<div>
		<img src="/imagenes/03_camposdehonor/18camposdehonor.jpg" />
		<div class="caption"><h6><em><b>S/T, </em></b>2014. Piezography on cotton paper. 40 x 32 x 4.5 cm.</h6></div>
	</div>
</div>

<p>Interested in analyzing the role that commemorative monuments play in the current urban context and the way in which the institution operates to acquire, commission or select a piece as a public symbol, Tovar participates in a call for proposals launched in August 2013 by the Culture Department of the State Government to commemorate 100 years of the Army and Armed Forces. His work entitled Campos de honor was selected winner. However, over a year after the call was released and the project approved, the piece has not yet been realized.</p>
<p>Beyond the completion of the monument, Tovar’s project encompasses the entire process: the bureaucratic procedure and the dynamics involved in the developing of a project of this nature. Thus, he presents two figures on a pedestal: the first one, an antimony piece with some incisions, wire and traces of clay. A sort of forgotten trophy that the artist found in a deposit of old iron and acquired to model in clay, over it, his proposal for the monument. The second figure, a soldier carrying aloft the Mexican Constitution and an eagle with soaring wings standing on his left arm, which is the final model approved by the Army after a series of modifications. In this way, the artist reveals the hidden structure that shaped his proposal; a structure which bares concepts such as victory, perfection and glory that have governed in a system that seems unalterable, and the manipulation of the artist’s idea to be finally approved. Complementing these two statues the artist presents the document with the call for proposals and a couple of printed communications between the artist and the parts involved. Also, a small publication will be produced, a sort of fanzine presenting more fragments of the process.</p>
<p>Through this body of work the artist questions the way our identity is structured, from inside the institution. False allegories and historical oscillations of control from bureaucracy towards the implantation of symbols. The commemorative monument becomes a failed emblem from which the veracity of historical events is questioned and the idea of identity is ironized.</p>