<%= partial "menu-index" %>

<section>
	<h1>Emanuel Tovar Andrade</h1>
	<h6>
	Escultor<br>
	Av. De los Arcos 670 interior 2<br>
	Colonia Jardines del Bosque<br>
	C.P. 44520<br>
	Guadalajara, Jalisco, México<br>
	T. (33) 31224248<br>
	M. (33)1331 3212<br>
	e-mail: emanueltovar@gmail.com<br>
	</h6>
</section>
<section>
	<h1>PÁRAMO</h1>
	<h6>
	Galería<br>
	Av. Hidalgo 1228,<br>
	Col. Americana – C.P. 44160<br>
	Guadalajara, Jalisco, México<br>
	T. + 52 (33) 38250921<br>
	www.paramogaleria.com<br>
	</h6>
</section>


<div class="footer">
 <a class="advert" target="Alecamp." href="http://alecamp.mx/"><h1>Hecho por Ale</h1><h2>camp</h2></a>
</div>