<%= partial "menu-text" %>
<div class="text-en">
	<header>
		<h1>EL TRABAJO TE HARÁ LIBRE
		<br>Brief notes about the politics of forms</h1>
	</header>
	<p>It is anachronistic and, even graver, declared candid to speak of the idea of “system” as an omnipresent entity that inevitably rules all the aspects of our existence. Nevertheless, it is also undeniable that in contemporary social nucleus there exists a series of real dispositions that limit our personal options and condition our field of action in a way that our autonomy as an individual is one more of the enjoyable utopias that beautify our naïve dreams of freedom and resistance. According to Foucault, power constitutes and supports itself in accordance to its capillary relation with a series of conventions extremely rooted in man –understood as a social being- and his mechanisms in relation to his immediate environment. In this order of ideas, language, work, recreation, sex, religion and practically any human construction converts to shackles that irredeemably condemn us to an absolute futility.</p>
	<p>The geometric deconstruction is one of the most notable constants in the recent production of Emanuel Tovar. Nevertheless this preoccupation is far from being a formal simple exercise completely free from all types of symbolic content. On the contrary, these repeated investigations concerning the dissection of expanded basic forms serve as a simple pretext to approach a much more urgent and relevant theme: the derivation of the lines that conform all kinds of structures that daily surround us like a tangible similarity of an accelerated process of social decomposition in all imaginable levels.</p>
	<p>If we compare this hell of form with the statements of Mandelbrot –deliberately arbitrary-, the suspicion arises that maybe this series of patterns with infinite repetitions are not only applicable to the constitution of the clearly capricious forms of nature. Is it also possible that this idea of iteration of basic models directly reflects in the escalation of sociopolitical conflicts and the great identity crisis of the last decades? In this project, developed specifically for the Museo de Arte de Zapopan, Tovar conceives geometry and its impeccable evolutions as the ultimate, perfect prison, in which escape does not exist, due to a natural precision that borders on the perverse. In other words, a non Euclidean approximation to the idea of power and individual in our time.</p>
	<p>Emanuel Tovar constructs an allegoric journey about the position of the subject in a geopolitical context evermore unstable, with the pentagon figure as the visual crux of the installation and a direct reference to the German extermination camps, one of the most significant episodes of the evermore nurtured and inspiring history of human infamy. At the end of the path he raises a question, more than that, it ends up being a sort of declaration of principles. As conspirators and victims of our own debacle, what is left is to raise the cynicism as a vital attitude and assume that perhaps brutality is not so atrocious if we perpetuate it ourselves.</p>
	<div class="text-footer">
	<p>Joaquín Segura, Monterrey, Mexico, Marzo 2011.</p>
	</div>
</div>

<div class="text-es">
	<header>
		<h1>EL TRABAJO TE HARA LIBRE<br>
		Apuntes breves sobre la política de las formas</h1>
	</header>
	<p>Es anacrónico y, aún más grave, declaradamente cándido hablar de la idea de ‘sistema’ como una entidad omnipresente que rige ineludiblemente todos los aspectos de nuestra existencia. Sin embargo, es también innegable que en los núcleos sociales contemporáneos existe una serie de disposiciones de facto que limitan nuestras opciones personales y condicionan nuestro campo de acción de forma tal que la autonomía del individuo es una más de las disfrutables utopías que embellecen nuestros ingenuos sueños de liberación y resistencia. De acuerdo con Foucault, el poder se constituye y apuntala a sí mismo conforme a su relación capilar con una serie de convenciones extremadamente arraigadas en el hombre –entendido como ser social- y sus mecanismos de relación con su entorno más próximo.  En ese orden de ideas, el lenguaje, el trabajo, el ocio, el sexo, la religión y prácticamente cualquier construcción humana se convierte en los grilletes que nos condenan irremediablemente a la futilidad absoluta.</p>
	<p>La deconstrucción geométrica es una de las constantes más notorias en la producción reciente de Emanuel Tovar. Sin embargo, esta preocupación se encuentra lejos de ser un simple ejercicio formal desligado por completo de todo tipo de contenido simbólico. Muy al contrario, estas investigaciones reiteradas sobre la disección de formas básicas expandidas le sirven como un simple pretexto para abordar una temática mucho más apremiante y actual: la derivación de las líneas que conforman las estructuras de todo tipo que nos rodean cotidianamente como el símil tangible de un acelerado proceso de descomposición social en todos los niveles imaginables.</p>
	<p>Si comparamos este infierno de la forma con los planteamientos de Mandelbrot – de manera deliberadamente arbitraria-, surge la sospecha de que tal vez esta serie de patrones con repeticiones ad infinitum no son sólo aplicables a la constitución de las aparentemente caprichosas formas de la naturaleza. ¿Es también posible que esta idea de iteración de modelos básicos se refleje directamente en la escalada de conflictos sociopolíticos y las grandes crisis identitarias de las últimas décadas? En este proyecto, desarrollado específicamente para el Museo de Arte de Zapopan, Tovar concibe a la geometría y sus impecables evoluciones como la última prisión perfecta, aquella de la cual no existe escapatoria alguna, debido justamente a una precisión natural que raya en lo perverso. En otras palabras, un acercamiento no euclidiano a la idea de poder e individuo en nuestros días.</p>
	<p>Emanuel Tovar construye un recorrido alegórico sobre la posición del sujeto en un contexto geopolítico cada vez más inestable, con la figura del pentágono como eje visual de la instalación y una alusión directa a los campos alemanes de exterminio, uno de los episodios más significativos de la cada vez más nutrida e inspiradora historia de la ignominia humana. Al final del camino plantea un cuestionamiento que, más que eso, termina siendo una especie de declaración de principios. Como conspiradores y víctimas de nuestra propia debacle, solo queda enarbolar el cinismo como actitud vital y asumir que tal vez la brutalidad no es tan atroz… si la perpetuamos nosotros.</p>
	<div class="text-footer">
	<p>Joaquín Segura, Monterrey, México, Marzo 2011.</p>
	</div>
</div>
<section>
	<p>DOWNLOAD TEXT</p>
	<div class="btn">
		<a target="ethl.en" href="/download/el-trabajo-te-hara-libre-joaquin-segura.en.pdf">English</a>
	</div>
	<div class="btn">
		<a target="ethl.es" href="/download/el-trabajo-te-hara-libre-joaquin-segura.es.pdf">Español</a>
	</div>
</section>
