<%= partial "menu-proyects" %>

<div id="main-slider-1" class="slider">
	<img src="/imagenes/09_eltrabajoteharalibre/1eltrabajoteharalibre.jpg" />
	<img src="/imagenes/09_eltrabajoteharalibre/2eltrabajoteharalibre.jpg" />
	<img src="/imagenes/09_eltrabajoteharalibre/3eltrabajoteharalibre.jpg" />
	<img src="/imagenes/09_eltrabajoteharalibre/4eltrabajoteharalibre.jpg" />
	<img src="/imagenes/09_eltrabajoteharalibre/5eltrabajoteharalibre.jpg" />
	<img src="/imagenes/09_eltrabajoteharalibre/6eltrabajoteharalibre.jpg" />
</div>

<div class="caption"><h6><em><b>El trabajo te hará libre, </em></b>2011, installation composed, wood, sheetrock, variable dimensions.</h6></div>
<p>Un allegoric journey about the position of the subject in a geopolitical context evermore unstable, with the pentagon figure as the visual crux of the installation and a direct reference to the German extermination camps, one of the most significant episodes of the evermore nurtured and inspiring history of human infamy. At the end of the path he raises a question, more than that, it ends up being a sort of declaration of principles. As conspirators and victims of our own debacle, what is left is to raise the cynicism as a vital attitude and assume that perhaps brutality is not so atrocious if we perpetuate it ourselves.</p>