<%= partial "menu-proyects" %>

<div class="slider-wrapper">
	<div id="main-slider-1" class="slider">
		<img src="/imagenes/10_gloriadesierta/2gloriadesierta.jpg" />
		<img src="/imagenes/10_gloriadesierta/3gloriadesierta.jpg" />
		<img src="/imagenes/10_gloriadesierta/5gloriadesierta.jpg" />
		<img src="/imagenes/10_gloriadesierta/6gloriadesierta.jpg" />
	</div>

	<div class="caption"><h6><em><b>Gloria desierta, </b></em>2009, installation composed, wood, sheetrock, variable dimensions.</h6></div>
	
	<div class="slider-controls" data-slider="main-slider-1">
		<a data-slider-action="previous">←</a>
		<a data-slider-action="next">→</a>
	</div>
</div>

<div class="text-en">
	<p>The work “Gloria desierta (project for a rural school)” is not a functional architectural solution neither is it a design for an exemplary school. This project arises from a precarious reality in which architectural plans are improvised in the every day occupation, through an assembly process, which adapts materials that are at hand to solve the most basic needs. This work consists in designing a prototype of a school in the peripheral zones, which, if realized, can generate a collective learning space.</p>
	<p>This model plays with fusioning and subverting some signs of social and political power, since it confronts the elitist character of a design of urban edification. It uses basic and rudimentary architecture, which an impoverished sector is forced to use.</p>
	<p>Starting from complex forms similar to the capricious and improvised drawings of the precarious constructions, the artist designs this school redirecting the lines until changing them into an abstract structure that is contemporary architecture: a capitalist architecture seeking efficiency, to be functional and a formal aesthetic. In this manner, paradoxically this project is destined for a poverty zone, which evidences the inexistence of public politics, while questioning the model of capitalist growth. </p>
</div>
<div class="text-es">
	<p>La obra Gloria desierta (proyecto para escuela rural) no es una solución arquitectónica funcional ni tampoco es el diseño de la escuela ejemplar. El proyecto surge de una realidad precaria en la que los esquemas arquitectónicos se van improvisando en el quehacer cotidiano, mediante un proceso de ensamblaje que adapta los materiales que están al alcance para solucionar las necesidades más básicas. La obra consiste en diseñar un prototipo de escuela para zonas periféricas que, de realizarse, pueda generar un espacio de aprendizaje colectivo.</p>
	<p>Este modelo juega fusionando y subvirtiendo algunos signos del poder social y económico, ya que confronta el carácter elitista de un diseño de edificación urbano, con el uso básico y rudimentario de la arquitectura al que es orillado un sector desprotegido. Partiendo de formas complejas similares al trazo caprichoso e improvisado de las construcciones precarias, el artista diseña esta escuela re-direccionando las líneas hasta convertirlas en una estructura abstracta propia de la arquitectura contemporánea: una arquitectura capitalista en busca de eficiencia, funcionalidad y formalidad estética. De esta manera, el proyecto paradójicamente destinado a una zona marginal, pone de manifiesto la inexistencia de políticas públicas, mientras cuestiona el modelo de crecimiento capitalista.</p>
</div>