<%= partial "menu-proyects" %>

<div id="main-slider-1" class="slider">
	<img src="/imagenes/10_gloriadesierta/1gloriadesierta.jpg" />
	<img src="/imagenes/10_gloriadesierta/2gloriadesierta.jpg" />
	<img src="/imagenes/10_gloriadesierta/3gloriadesierta.jpg" />
	<img src="/imagenes/10_gloriadesierta/4gloriadesierta.jpg" />
	<img src="/imagenes/10_gloriadesierta/5gloriadesierta.jpg" />
	<img src="/imagenes/10_gloriadesierta/6gloriadesierta.jpg" />
</div>

<p>The work “Gloria desierta (project for a rural school)” is not a functional architectural solution neither is it a design for an exemplary school. This project arises from a precarious reality in which architectural plans are improvised in the every day occupation, through an assembly process, which adapts materials that are at hand to solve the most basic needs. This work consists in designing a prototype of a school in the peripheral zones, which, if realized, can generate a collective learning space.</p>
<p>This model plays with fusioning and subverting some signs of social and political power, since it confronts the elitist character of a design of urban edification. It uses basic and rudimentary architecture, which an impoverished sector is forced to use.</p>
<p>Starting from complex forms similar to the capricious and improvised drawings of the precarious constructions, the artist designs this school redirecting the lines until changing them into an abstract structure that is contemporary architecture: a capitalist architecture seeking efficiency, to be functional and a formal aesthetic. In this manner, paradoxically this project is destined for a poverty zone, which evidences the inexistence of public politics, while questioning the model of capitalist growth. </p>









