<div id="sidebar">
    <div class="logo">
        <a href="/">Emanuel Tovar</a>
    </div>
	<div class="section-nav">
		<a class="" href="/ritos-estructurales">Work</a>
		<a class="bombiux-tix-tix" href="/bombiux-tix-tix">Texts</a>
		<a class="biography" href="/biography">Biography</a>
		<a class="statement" href="/statement">Statement</a>
		<a class="contact" href="/contact">Contact</a>
	</div>
</div>