<%= partial "menu-proyects" %>
<div class="slider-wrapper">
	<div id="main-slider-1" class="slider">
		<img src="/imagenes/07_laconspiraciondelasbestias/1laconspiraciondelasbestias.jpg" />
		<img src="/imagenes/07_laconspiraciondelasbestias/2laconspiraciondelasbestias.jpg" />
	</div>

	<div class="caption"><h6><em><b>La conspiración de las bestias, </b></em>2010, installation composed tapestry, fiberglass, resin and metal, variable dimensions.</h6></div>

	<div class="slider-controls" data-slider="main-slider-1">
		<a data-slider-action="previous">←</a>
		<a data-slider-action="next">→</a>
	</div>
</div>

<div class="text-en">
	<p>At first sight what stands out is a heap of furniture and scraps; chairs, benches, tree trunks on tire rims, buckets and a large tire on sacks, and as a back drop, a tapestry with the word <em><b>¨Precarite¨</b></em>. The installation appears to function as a simulation of a post industrial archeological act, or the vestiges of some contemporary group reunion, subversive groups, radical and marginal, at the same time looks to reflect on totalitarianism and centralism of power, to find in the periphery a re-significance of ideals.</p>
</div>
<div class="text-es">
	<p>A primera vista sobresale un cúmulo de mobiliario de utilería, sillas, bancas, troncos de madera sobre rines, botes y una gran llanta sobre costales y, como telón de fondo, aparece un tapiz con la palabra <em><b>Precarite</b></em>. La instalación pareciera funcionar como la simulación de un acto arqueológico post industrial, o los vestigios de alguna reunión de un grupo contemporáneo, grupos subversivos, radicales y marginales, a la vez que busca reflexionar sobre el totalitarismo y centralismo del poder, para encontrar en la periferia una re significación de los ideales.</p>
</div>


