<%= partial "menu-proyects" %>

<div id="main-slider-1" class="slider">
	<img src="/imagenes/07_laconspiraciondelasbestias/1laconspiraciondelasbestias.jpg" />
	<img src="/imagenes/07_laconspiraciondelasbestias/2laconspiraciondelasbestias.jpg" />
</div>

<div class="caption"><h6><em><b>La conspiración de las bestias, </em></b>2010, installation composed tapestry, fiberglass, resin and metal, variable dimensions.</h6></div>
<p>At first sight what stands out is a heap of furniture and scraps; chairs, benches, tree trunks on tire rims, buckets and a large tire on sacks, and as a back drop, a tapestry with the word ¨Precarite¨. The installation appears to function as a simulation of a post industrial archeological act, or the vestiges of some contemporary group reunion, subversive groups, radical and marginal, at the same time looks to reflect on totalitarianism and centralism of power, to find in the periphery a re-significance of ideals.</p>



