<%= partial "menu-proyects" %>

<div id="main-slider-1" class="slider">
	<img src="/imagenes/02_lahuidadeltiempo/1lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/2lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/3lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/4lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/5lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/6lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/7lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/8lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/9lahuidadeltiempo.jpg" />
	<img src="/imagenes/02_lahuidadeltiempo/10lahuidadeltiempo.jpg" />
</div>
<div>
	<div class="caption"><h6><em><b>La huida del tiempo, </em></b>2016, action.</h6></div>
</div>



<p>Action commissioned for the project Archivo MMXV, an investigative project that took the form of a time capsule. Starting from the collaboration of cultural agents active in Mexico, an archive of archives was constructed; its contents were available on line on ¨sitio mmxv¨ for consultation from the day it was sent until December 31, 2015. The collaborators were invited to select and send an archive from their personal computers. The only criterion considered was that the file had been created during 2015:  PDFs, Word documents, sound, video, photos, condensed files any kind of archive was donated, received and published, as long as it didn’t exceed 20 MB. The collaborations were received during the rest of the year. On the last day of 2015 the information was encrypted during a ¨burial ceremony¨. For a decade, Archivo MMXV will still be on line but no one will be able to access its contents. Through an exercise of archeological formats the archive will be opened 10 years later, in order to analyze and consult the exhumed material.</p>
<p>The action La Huida del Tiempo consisted of developing a bronze sculpture that functions as a time capsule so that within it the archives will remain.  On December 31, 2015 at 12:00 pm a welder sealed the sphere shaped sculpture uniting the two parts that conform it, with the archives inside, and in 10 years they will be recuperated, thus constructing an ephemeral image that reminds us of the birth of a new sun.</p>