<%= partial "menu-proyects" %>

<div class="slider-wrapper">
	<div id="main-slider-1" class="slider">
		<img src="/imagenes/02_lahuidadeltiempo/1lahuidadeltiempo.jpg" />
	<!-- 	<img src="/imagenes/02_lahuidadeltiempo/2lahuidadeltiempo.jpg" /> -->
		<img src="/imagenes/02_lahuidadeltiempo/3lahuidadeltiempo.jpg" />
		<img src="/imagenes/02_lahuidadeltiempo/4lahuidadeltiempo.jpg" />
		<img src="/imagenes/02_lahuidadeltiempo/5lahuidadeltiempo.jpg" />
		<img src="/imagenes/02_lahuidadeltiempo/6lahuidadeltiempo.jpg" />
		<img src="/imagenes/02_lahuidadeltiempo/7lahuidadeltiempo.jpg" />
		<img src="/imagenes/02_lahuidadeltiempo/8lahuidadeltiempo.jpg" />
		<img src="/imagenes/02_lahuidadeltiempo/9lahuidadeltiempo.jpg" />
		<img src="/imagenes/02_lahuidadeltiempo/10lahuidadeltiempo.jpg" />
	</div>

	<div class="caption"><h6><em><b>La huida del tiempo, </em></b>2016, action.</h6></div>

	<div class="slider-controls" data-slider="main-slider-1">
		<a data-slider-action="previous">←</a>
		<a data-slider-action="next">→</a>
	</div>
</div>

<div class="text-en">
	<p>Action commissioned for the project Archivo MMXV, an investigative project that took the form of a time capsule. Starting from the collaboration of cultural agents active in Mexico, an archive of archives was constructed; its contents were available on line on ¨sitio mmxv¨ for consultation from the day it was sent until December 31, 2015. The collaborators were invited to select and send an archive from their personal computers. The only criterion considered was that the file had been created during 2015:  PDFs, Word documents, sound, video, photos, condensed files any kind of archive was donated, received and published, as long as it didn’t exceed 20 MB. The collaborations were received during the rest of the year. On the last day of 2015 the information was encrypted during a ¨burial ceremony¨. For a decade, Archivo MMXV will still be on line but no one will be able to access its contents. Through an exercise of archeological formats the archive will be opened 10 years later, in order to analyze and consult the exhumed material.</p>
	<p>The action La Huida del Tiempo consisted of developing a bronze sculpture that functions as a time capsule so that within it the archives will remain.  On December 31, 2015 at 12:00 pm a welder sealed the sphere shaped sculpture uniting the two parts that conform it, with the archives inside, and in 10 years they will be recuperated, thus constructing an ephemeral image that reminds us of the birth of a new sun.</p>
</div>
<div class="text-es">
	<p>Acción comisionada para el proyecto Archivo MMXV, un proyecto de investigación que toma la forma de una cápsula de tiempo. A partir de la colaboración de agentes culturales activos en México, se construyó un archivo de archivos cuyo contenido estuvo disponible en el sitio mmxv.mx para consulta desde el día de su envío y hasta el 31 de diciembre de 2015. Los colaboradores fueron invitados a seleccionar y enviar un archivo de sus computadoras personales. El único criterio a considerar fue éste hubiera sido creado durante 2015: PDFs, documentos de Word, sonido, video, fotos, carpetas comprimidas; cualquier tipo de archivo donado fue recibido y publicado, siempre y cuando no excediera los 20 MB. Las colaboraciones se recibieron durante el resto del año. El último día de 2015 se encriptó la información durante una "ceremonia de entierro". Por una década, Archivo MMXV seguirá en línea pero nadie podrá acceder a su contenido. Mediante un ejercicio de arqueología de formatos, el archivo se abrirá diez años después para consultar y analizar el material “desenterrado”.</p>
	<p>La acción La huida del tiempo consistió en desarrollar una escultura en bronce que funcionara como cápsula de tiempo para que en su interior quedaran contenidos los archivos. El día 31 de Diciembre de 2015 a las 12:00 p.m. un soldador selló la esfera con la soldadura uniendo las dos partes que conforman la escultura y dejando los archivos en su interior para ser recuperados en los siguientes 10 años, construyendo una imagen efímera que nos recuerda al nacimiento de un nuevo sol.</p>
</div>