<%= partial "menu-proyects" %>

<div id="main-slider-1" class="slider">
	<img src="/imagenes/08_miercolesdeceniza/1miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/2miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/3miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/4miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/5miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/6miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/7miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/8miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/9miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/10miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/11miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/12miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/13miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/14miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/15miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/16miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/17miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/18miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/19miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/20miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/21miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/22miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/23miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/24miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/25miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/26miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/27miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/28miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/29miercolesdeceniza.jpg" />
	<img src="/imagenes/08_miercolesdeceniza/30miercolesdeceniza.jpg" />
</div>
<div class="iframe-padding">
	<iframe src="https://player.vimeo.com/video/91727971?loop=1&title=0&byline=0&portrait=0" width="299" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="caption"><h6><em><b>Miércoles de ceniza, </em></b>2013, action.</h6></div>
<div class="text">
	<p>Miércoles de ceniza represents the symbolic state of grief experienced after a tragedy , as well as the dynamics that arise in these extraordinary situations for reconstruction. The piece consists of three musicians (a pianist , a violinist, a cellist ) and two construction workers. The five dressed in black evoking mourning. During the course of the action the musicians perform the “Funeral March" by Frederic Chopin, manipulating time so that the notes are lengthier and the duration increases. As the music elapses , the workers build a wall of bricks and cement that separate them from the spectators. Confined in a small space , the actors are each doing their duties within the limits of an awkward situation , as the sounds slowly suffocate. While the wall symbolizes restoration and community work after a disaster, it also becomes a sort of mausoleum leaving them buried in oblivion while the wound remains open.</p>
	<p>This division between the mourners and the spectator also reminds us of the real distance between the affected in a tragedy and how the rest of the world becomes alien. Thus, the wall becomes an emblem of indifference.</p>
</div>