<%= partial "menu-proyects" %>

<div id="main-slider-1" class="slider">
	<img src="/imagenes/04_monumentoalainmaterialidad/1monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/2monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/3monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/4monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/5monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/6monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/7monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/8monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/9monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/10monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/11monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/12monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/13monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/14monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/15monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/16monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/17monumentoalainmaterialidad.jpg" />
	<img src="/imagenes/04_monumentoalainmaterialidad/18monumentoalainmaterialidad.jpg" />
</div>
<div class="iframe-padding">
	<iframe src="https://player.vimeo.com/video/170505778?loop=1&title=0&byline=0&portrait=0" width="299" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="caption"><h6><em><b>Monumento a la Inmaterialidad, </em></b>2014, action.</h6></div>

<div class="text">
	<p>The project departs from the Chartres Cathedral elevated to the sky, by a mysterious architect who commenced the construction in 1194. Based on 3 simple geometric figures, extremely harmonious: the square, the circle and the equilateral triangle, he managed to design one of the most important constructions of the Middle Ages. The Medieval Religious felt particularly attracted by the idea that supreme beauty of the universe is based on perfect proportions and ideal numbers. They considered God as a supreme mathematician, a divine geometrician who employed sacred magnitudes. The Gothic architects wanted their cathedrals to be a heaven on earth, sacred places in which the faithful could use to evade the cruelty of everyday life and be transported to a heavenly eternity. In these constructions, where the principle element was stone, the stonecutters were the best paid and well respected. For evident reasons, the whole project depended on their abilities. The secrets of their craft were jealously kept, and they worked under their own rules, creating unions conformed by fellowships.</p>
	<p>Thus, this project consisted in hiring a stonecutter who worked in the exhibition space during the entire time of the show. Initially, the stonecutter was confronted with a shapeless stone which he would then transform first into a cube, then a sphere, after into a pyramid and finally, continued cutting the piece with triangular sides in an irregular manner, so that it became smaller and smaller until the original stone completely disappeared, and converted, in some way, to “nothing”.</p>
	<p>This work process, that goes through the basic geometric forms in which the Cathedral is structured, intends to arrive at the intangible. In the same way in which it was aimed, through the construction of the Cathedrals, to generate a space that would give the sensation of eternity and infinite heaven, this piece, through the disintegration of the stone, constructs a monument for emotions, feelings, sensations, abstractions of the mind, and of course, thoughts and ideas, thus forming immateriality.</p>
</div>



