<%= partial "menu-proyects" %>

<div class="slider-wrapper">
	<div id="main-slider-1" class="slider">
		<div>
			<img src="/imagenes/05_parasitocosmico/1paracaidistascosmicos.jpg" />
			<div class="caption"><h6><em><b>Paracaidistas en Coronado, </b></em>2012, wood, cement, metal, 150 x 51 x 48 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/2paracaidistascosmicos.jpg" />
			<div class="caption"><h6><em><b>Paracaidistas en el Perejil, </b></em>2012, wood, cement, metal, 150 x 51 x 48 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/3paracaidistascosmicos.jpg" />
			<div class="caption"><h6><em><b>Paracaidistas en Santa María, </b></em>2013, wood, cement, metal, 130 x 60 x 58 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/4paracaidistascosmicos.jpg" />
			<div class="caption"><h6><em><b>Paracaidistas en la Soledad, </b></em>2012, wood, cement, metal, 150 x 60 x 65 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/5paracaidistascosmicos.jpg" />
			<div class="caption"><h6><em><b>Paracaidistas en la Casa Blanca, </b></em>2013, wood, cement, metal, 150 x 51 x 50 cm.</h6></div>
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/6paracaidistascosmicos.jpg" />
			<div class="caption"><h6><em><b>Paracaidistas en Santa Lucia, </b></em>2016,  cement, cardboard, metal, 130 x 74 x 77 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/7paracaidistascosmicos.jpg" />
			<div class="caption"><h6><em><b>Paracaidistas en la Martinica, </b></em>2016,  cement, metal, 160 x 48 x 78 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/9parasitocosmico.jpg" />
			<div class="caption"><h6><em><b>Parásito cósmico VI, </b></em>2015, wood, gold leaf, 266 x 65 x 30 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/10parasitocosmico.jpg" />
			<div class="caption"><h6><em><b>Parásito cósmico VIII, </b></em>2015, cement, wood, 300 x 44 x 23 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/11parasitocosmico.jpg" />
			<div class="caption"><h6><em><b>Parásito cósmico X, </b></em>2015, cement, wood, intervention at the entrance of the Orozco House Architect Luis Barragan, 154 x 109 x 33 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/12parasitocosmico.jpg" />
			<div class="caption"><h6><em><b>Parásito cósmico DM, </b></em>2015, cement, wood, sculptural intervention entrance stairs of the House of Architect Díaz Morales, 110 x 70 x 15 cm.</h6></div>
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/8parasitocosmico.jpg" />
			<div class="caption"><h6><em><b>Parásito cósmico, </b></em>2015,  cement, gold leaf  24k, 70 x 50 x 50 cm.</h6></div>
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/13parasitocosmico.jpg" />
			<div class="caption"><h6><em><b>Parásito cósmico V, </b></em>2015, cement, wood, 59 x 63 x 132 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/14parasitocosmico.jpg" />
			<div class="caption"><h6><em><b>Parásito cósmico XII, </b></em>2015, cement, wood, 287 x 390 x 25 cm.</h6></div>
			
		</div>
		<div>
			<img src="/imagenes/05_parasitocosmico/15parasitocosmico.jpg" />
			<div class="caption"><h6><em><b>Parásito cósmico IX, </b></em>2015, led light, cement, wood, 390 x 40 x 42 cm.</h6></div>
		</div>
	</div>

	<div class="slider-controls" data-slider="main-slider-1">
		<a data-slider-action="previous">←</a>
		<a data-slider-action="next">→</a>
	</div>
</div>

<div class="text-en">
	<p>The project was inspired by the Experimental Museum El Eco in Mexico City, building designed by Mathias Goeritz, comprised as an example of singular architecture where emotion was the fundamental function. The project consists of a series of sculptures made of cement and cast off lumber, which alludes to the Manifiesto de la Arquitectura Emocional, through the creation of architectural models that are distanced from tangible reason and make room for mystic prototypes of construction.</p>
</div>
<div class="text-es">
	<p>El proyecto toma como inspiración al Museo Experimental El Eco en la Ciudad de México, obra diseñada por el artista Mathias Goeritz comprendida como ejemplo de una arquitectura singular cuya principal función es la emoción. El proyecto consiste en una serie de esculturas en cemento y desechos de madera, que alude a su Manifiesto de la Arquitectura Emocional mediante la creación de modelos arquitectónicos que se alejan de la razón tangible y dan cabida a místicos prototipos de construcción.</p>
</div>
