<%= partial "menu-proyects" %>

<div id="main-slider-1" class="slider">
	<img src="/imagenes/01_ritosestructurales/1ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/2ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/3ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/4ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/5ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/6ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/7ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/8ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/9ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/10ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/11ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/12ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/13ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/14ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/15ritosestructurales.jpg" />
	<img src="/imagenes/01_ritosestructurales/16ritosestructurales.jpg" />	
</div>
<div>
	<div class="caption"><h6><em><b>Ritos estructurales,</em></b> 2016, action.</h6></div>
</div>
<p>Using Orozco´s notebooks as a reference, that set forth essential matters in formal realization such as order, foresight and geometric rigor, Tovar develops a project where time, structure, space and movement are the main actors. A work that reflects the variations and contrasts of current context, the particularities articulated in relation with the whole. An alternative vision in relation to the geometric reflection and the expansion of space, which could propose new models with alternative structures to the automated and mechanized system of modernity.</p>
<p>Thus the action that consists of a dancer moving in a room in which, on the floor, 3 geometric forms were drawn with carbon dust, lime and cement, extracted and transferred to the exhibition space from ¨Boceto para Ballet II¨, painted in 1945 by Jose Clemente Orozco. The choreographer realizes 43 different sequences (making reference to the Ayotzinapa case) that represent distinct ways of walking. In this space where the materials lay, different orders were followed in each one of the choreographies, until all 43 different forms and rhythms of walking were completed, disintegrating the geometric composition, destroying the order and generating visual chaos. In this way, the structures pre-established by physical forces and geometric stereotypes that seek perfection, equilibrium and balance, ideal in the sculptural space to question the social system, are fractured.</p>