<%= partial "menu-proyects" %>
<div class=slider-wrapper>
	<div id="main-slider-1" class="slider">
		<img src="/imagenes/01_ritosestructurales/1ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/2ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/3ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/4ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/5ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/6ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/7ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/8ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/9ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/10ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/11ritosestructurales.jpg" />
		<img src="/imagenes/01_ritosestructurales/12ritosestructurales.jpg" />
	</div>
	
	<div class="caption"><h6><em><b>Ritos estructurales,</b></em> 2016, action.</h6></div>
	
	<div class="slider-controls" data-slider="main-slider-1">
		<a data-slider-action="previous">←</a>
		<a data-slider-action="next">→</a>
	</div>
</div>

<iframe width="300" height="200" src="https://www.youtube.com/embed/QORC5k0c96I" frameborder="0" allowfullscreen></iframe>

<div class="text-en">
	<p>Using Orozco´s notebooks as a reference, that set forth essential matters in formal realization such as order, foresight and geometric rigor, Tovar develops a project where time, structure, space and movement are the main actors. A work that reflects the variations and contrasts of current context, the particularities articulated in relation with the whole. An alternative vision in relation to the geometric reflection and the expansion of space, which could propose new models with alternative structures to the automated and mechanized system of modernity.</p>
	<p>Thus the action that consists of a dancer moving in a room in which, on the floor, 3 geometric forms were drawn with carbon dust, lime and cement, extracted and transferred to the exhibition space from ¨Boceto para Ballet II¨, painted in 1945 by Jose Clemente Orozco. The choreographer realizes 43 different sequences (making reference to the Ayotzinapa case) that represent distinct ways of walking. In this space where the materials lay, different orders were followed in each one of the choreographies, until all 43 different forms and rhythms of walking were completed, disintegrating the geometric composition, destroying the order and generating visual chaos. In this way, the structures pre-established by physical forces and geometric stereotypes that seek perfection, equilibrium and balance, ideal in the sculptural space to question the social system, are fractured.</p>
</div>

<div class="text-es">
	<p>Tomando como referencia los cuadernos de Orozco *, que plantean cuestiones esenciales en la realización formal como orden, previsión y rigor geométrico, Tovar desarrolla un proyecto donde el tiempo, la estructura, el espacio y el movimiento fueron los actores. Una obra que refleja las variaciones y contrastes del contexto actual, las particularidades articuladas en relación con el todo. Una visión alternativa en relación con la reflexión geométrica y la expansión del espacio que pudiera proponer nuevos modelos con estructuras alternas al sistema autómata y mecanizado de la modernidad.</p>
	<p>Así, la acción que consistió en que un sujeto bailarín se desplazara dentro de una sala en la que, sobre el piso, se encontraban trazadas tres formas geométricas con carbón en polvo, cal y cemento, extraídas y trasladadas al espacio desde Boceto para ballet II, pintado en 1945 por José Clemente Orozco. El coreógrafo realizó 43 diferentes secuencias (haciendo referencia al caso de Ayotzinapa) que representaran distintas formas de caminar. Dentro del espacio sitiado con los materiales, se siguieron órdenes distintos en cada uno de los recorridos, donde se trazaron las diversas trayectorias hasta completar la representación de 43 formas y ritmos de andar, desintegrando la composición geométrica, rompiendo el orden y generando un caos visual. De esta manera, se fracturan las estructuras preestablecidas por fuerzas físicas y estereotipos geométricos que buscan la perfección, equilibrio y balance ideales en el espacio escultórico para cuestionar el sistema social.</p>
</div>