<%= partial "menu-proyects" %>
<div class="slider-wrapper">
	<div id="main-slider-1" class="slider">
		<div>
			<img src="/imagenes/06_sinfoniatriste/1sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/2sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/3sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/4sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/5sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/6sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/7sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/8sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/9sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/10sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/11sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/12sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/13sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/14sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/15sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/16sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/17sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/18sinfoniatriste.jpg" />
			<div class="caption"><h6><em><b>Sinfonía triste, </b></em>2014, action.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/19sinfoniatriste.jpg" />
			<div class="caption"><h6>Cutout article from Daily Newspaper “El Informador”, January 12, 2012, 51 x 30 cm.</h6></div>
		</div>
		<div>
			<img src="/imagenes/06_sinfoniatriste/20elcaosdelsilencio.jpg" />
			<div class="caption"><h6><em><b>El caos del silencio,  </b></em>2014, Piezography print on cotton paper, 28 x 23 cm each (72 framed prints) Edition of 3 + 2 Author’s Proofs</h6></div>
		</div>
	</div>
	
	<div class="slider-controls" data-slider="main-slider-1">
		<a data-slider-action="previous">←</a>
		<a data-slider-action="next">→</a>
	</div>
</div>

<div>
	<iframe src="https://player.vimeo.com/video/88916737?loop=1&title=0&byline=0&portrait=0" width="299" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="text-en">
	<p>Sinfonía triste addresses fragility, parting from a bitter story of one of the greatest musicians: Ludwig Van Beethoven, who in 1823 crossed a depressive state, was in the middle of serious health and economic problems. His concerns were expressed in a letter sent to a manufacturer of harps, where he communicated the interest to sell one of his masterpieces, the Missa Solemnis, for only a thousand talents. The manufacturer of harps did not buy the work, but kept the letter. Ironically, this manuscript is currently valued at 150 thousand euros. </p>
	<p>The translation of this story to Tovar’s language ends up being a performative action, where a stage is settled for a group of remunerated professionals that with their labor intersect the history of Beethoven.  The set includes a grand piano, a pianist and a construction worker. During the development of the work, the pianist plays the Missa Solemnis, and as music elapses the construction worker slowly fills the insides of the grand piano with a mixture of cement, sand and water, for sounds slowly to suffocate and both the piano and the melody being silenced forever.</p>
</div>
<div class="text-es">
	<p>Sinfonía triste este proyecto que de manera desoladora habla de la fragilidad o la vulnerabilidad, en donde a partir de una anécdota amarga de uno de los más grandes músicos de todos los tiempos: Ludwig van Beethoven, que en 1823 atravesaba un estado depresivo al presentar problemas de salud y económicos. Sus preocupaciones fueron manifestadas en una carta que envió a un fabricante de arpas, donde le expresaba el interés de vender una de sus obras maestras, la Missa Solemnis, por sólo mil talentos. El fabricante de arpas no compró la obra y guardó la carta. Irónicamente, en la actualidad este manuscrito está valuado en 150 mil euros.</p>
	<p>Para traducir esta historia Tovar trabaja una acción performática, una puesta que incluye un piano de cola, y un trabajador de construcción. Durante el desarrollo de la obra, el pianista estará interpretando la la Missa Solemnis de Beethoven, y conforme trascurra la música el maestro albañil hará en la carretilla una mezcla de cemento, arena y agua, la posteriormente la verterá suavemente al interior del piano, para sofocar lentamente los sonidos e impedir al pianista tocar la melodía, el piano y la melodía serán silenciados para siempre.</p>
</div>
	