<%= partial "menu-proyects" %>

<div id="main-slider-1" class="slider">
	<img src="/imagenes/11_white/1wdfoi.jpg" />
	<img src="/imagenes/11_white/2wdfoi.jpg" />
	<img src="/imagenes/11_white/3wdfoi.jpg" />
	<img src="/imagenes/11_white/4wdfoi.jpg" />
	<img src="/imagenes/11_white/5wdfoi.jpg" />
</div>
<div class="caption"><h6><em><b>White Dumbo Flying Over Infonavit, </em></b>2007, installation composed, wood, drawing, sheetrock, variable dimensions.</h6></div>

<p>At some time in history, Architecture was linked to the elevation of the sublime in space. The vortex of modern times and the indiscriminate growth of urban cities has favored the disappearance of concepts so elemental as enjoying and refelxion about our environment. In the measure in which the technical dimension of architecture has gained ground over the artistic dimension, the construction of buildings and cities with economic and social purposes has proliferated, mainly the storage and control of movement and direction of the urban masses (Never before Capitalism, the constructors had so much haste.).</p>
<p>White Dumbo Flying Over Infonavit is the exploration of an artist, not an architect, therefore it is a work built on quick sand, that talks about stability and order as a game of appearances. It is an imaginary construction but also a sculpture. The most subversive part takes us to a panorama of an explosion (maybe the scene of a western city on the morning of the 23rd of April?) of a convoluted society full of cheap houses and millenary arches half built. But it is also a dream, a deconstruction of the immediate memory, a whim, or why not?, maybe the first stone of a Contemporary Xilitla.</p>

