<%= partial "menu-proyects" %>

<div class="slider-wrapper">
	<div id="main-slider-1" class="slider">
		<img src="/imagenes/11_white/1wdfoi.jpg" />
		<img src="/imagenes/11_white/2wdfoi.jpg" />
		<img src="/imagenes/11_white/3wdfoi.jpg" />
		<img src="/imagenes/11_white/4wdfoi.jpg" />
		<img src="/imagenes/11_white/5wdfoi.jpg" />
	</div>

	<div class="caption"><h6><em><b>White dumbo flying over Infonavit, </b></em>2007, installation composed, wood, drawing, sheetrock, variable dimensions.</h6></div>
	
	<div class="slider-controls" data-slider="main-slider-1">
		<a data-slider-action="previous">←</a>
		<a data-slider-action="next">→</a>
	</div>
</div>

<div class="text-en">
	<p>At some time in history, Architecture was linked to the elevation of the sublime in space. The vortex of modern times and the indiscriminate growth of urban cities has favored the disappearance of concepts so elemental as enjoying and refelxion about our environment. In the measure in which the technical dimension of architecture has gained ground over the artistic dimension, the construction of buildings and cities with economic and social purposes has proliferated, mainly the storage and control of movement and direction of the urban masses (Never before Capitalism, the constructors had so much haste.).</p>
	<p>White Dumbo Flying Over Infonavit is the exploration of an artist, not an architect, therefore it is a work built on quick sand, that talks about stability and order as a game of appearances. It is an imaginary construction but also a sculpture. The most subversive part takes us to a panorama of an explosion (maybe the scene of a western city on the morning of the 23rd of April?) of a convoluted society full of cheap houses and millenary arches half built. But it is also a dream, a deconstruction of the immediate memory, a whim, or why not?, maybe the first stone of a Contemporary Xilitla.</p>
</div>
<div class="text-es">
	<p>En algún momento de su historia, la arquitectura estuvo ligada al encumbramiento de lo sublime en el espacio. La vorágine de los tiempos modernos y el crecimiento indiscriminado de las manchas urbanas ha propiciado la desaparición de conceptos tan elementales como el disfrute y la reflexión sobre nuestro entorno. En la medida en que la dimensión técnica de la arquitectura ha ido ganando terreno por sobre la dimensión artística, ha proliferado la construcción de edificios y ciudades orientadas a fines económico y sociales, principalmente el almacenamiento y el control del movimiento y la dirección de las masas urbanas (nunca antes del capitalismo, las constructoras habían tenido tanta prisa).</p>
	<p>White Dumbo Flying Over Infonavit es la exploración de un artista plástico, no de un arquitecto, así pues, es una obra que se yergue sobre arenas movedizas y nos habla de la estabilidad y el orden como un juego de apariencias. Es una construcción imaginaria pero también es un proyecto de escultura. En su parte mas subversiva nos remite al panorama de una explosión (¿quizá del escenario de una ciudad occidental vista la mañana de un 23 de abril?), de una sociedad convulsa llena de casas baratas y arcos milenarios a medio construir. Pero también es un sueño, una deconstrución de la memoria inmediata, un capricho, o ¿por qué no?, tal vez la primera piedra de una Xilitla contemporánea.</p>
</div>