.slider {
	height:inherit;
	width:inherit;
	overflow: hidden;
	position: relative;
	background: #0e0e0e;
	text-align: center;
}

.slider > * {
	display: none;
	width:inherit;
}

.slider .columns {
	height: inherit;
}

.slider img {
	padding-top:0;
	padding-bottom:0;
	max-height: 700px;
	max-width: 100%;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	vertical-align: bottom;
}

.slider .columns .column {
	height: inherit;
}

[data-slider-index] {
	font-size: 0.8em;
	font-weight: 100;
	height:inherit;
}

[data-slider-action] {
	font-size: 1em;
	letter-spacing: 1px;
	color: rgb(53,53,195);
	font-weight: 100;
	cursor: pointer;
}

.slider-controls {
	@include noselect;
}

.slider-controls > * {
	display: inline-block;
	left: 0;
	padding-right: 5px;
}

.slider-controls a, .slider-controls * {
	color: #666 !important;
}

.slider-controls a {
	font-size: 2.3em;
}

.slider-controls {

}

.caption {
	background-color: white;
	padding-bottom: 20px;
	display: block;
	float: left;
	width: 100%;
}




