.text {
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
}
.text-en {
	header {padding-bottom: 20px;}
	border-bottom: 1px dotted #dedede;
	padding-bottom: 60px;
	margin-bottom: 60px;
	.text-footer {
		p {font-size: 0.9em;font-weight: 600;}
		padding-top: 10px;
		float: right;
	}
	.quote {
		font-style: italic;
		padding-bottom: 20px;
		padding-top: 5px;
	}

	h3 {
	font-size: 0.9em;
	font-style: italic;
	letter-spacing: 0.7px;
	padding-bottom: 20px;
	}
	.span {
		padding-right: 20px;
		display: inline-block;
	} 
}

.text-es {
	header {padding-bottom: 20px;}
	border-bottom: 1px dotted #dedede;
	padding-bottom: 60px;
	margin-bottom: 60px;
	color: #6b6666;
	.quote {
		font-style: italic;
		padding-bottom: 20px;
		padding-top: 5px;
	}
	.text-footer {
		p {font-size: 0.9em;font-weight: 600;}
		padding-top: 10px;
		float: right;
	}
	h3 {
	font-size: 0.9em;
	font-style: italic;
	letter-spacing: 0.7px;
	padding-bottom: 20px;
	}
}



